<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178505688610-k0ec42f75trq9bmcvju8ils8lch1sa9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178505688610-k0ec42f75trq9bmcvju8ils8lch1sa9t</string>
	<key>API_KEY</key>
	<string>AIzaSyCF354hUpqf7IxQS3umpKjYWLBDZttbDlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>178505688610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ifilterMobileApplication</string>
	<key>PROJECT_ID</key>
	<string>ifilter-33bac</string>
	<key>STORAGE_BUCKET</key>
	<string>ifilter-33bac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178505688610:ios:cfe3ecfc24366c55790c7b</string>
</dict>
</plist>